<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Local Stock Exchange</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{navigation/navigation_bar :: navigation_bar}"></div>
<div class="container my-2">
    <h1>Resumes checklist</h1>
    <br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>SecId</th>
            <th>RegNumber</th>
            <th>Name</th>
            <th>Emitent Title</th>
            <th>TradeDate</th>
            <th>NumTrades</th>
            <th>Open</th>
            <th>Close</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resume : ${resumes}">
            <td th:text="${resume.getSecId()}"></td>
            <td th:text="${resume.getRegNumber()}"></td>
            <td th:text="${resume.getName()}"></td>
            <td th:text="${resume.getEmitentTitle()}"></td>
            <td th:text="${resume.getTradeDate()}"></td>
            <td th:text="${resume.getNumTrades()}"></td>
            <td th:text="${resume.getOpen()}"></td>
            <td th:text="${resume.getClose()}"></td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
</body>
</html>